.vs/microprocessadores-t1*
*.o
*.d
*.xml
*.elf
*.hex
*.lss
*.map
microprocessadores-t1/Debug/Source Files/money.d
microprocessadores-t1/Debug/Source Files/money.o
microprocessadores-t1/Debug/Source Files/serial.d
microprocessadores-t1/Debug/Source Files/serial.o
microprocessadores-t1/Debug/main.d
microprocessadores-t1/Debug/main.o
microprocessadores-t1/Debug/memoryfile.xml
microprocessadores-t1/Debug/microprocessadores-t1.elf
microprocessadores-t1/Debug/microprocessadores-t1.hex
microprocessadores-t1/Debug/microprocessadores-t1.lss
microprocessadores-t1/Debug/microprocessadores-t1.map
